/* @keyframes mymove {
  from {top: 0vw;}
  to {top: -99vw;}
} */

@font-face {
    font-family: messapia;
    src: url("../fonts/Messapia-Regular.woff");
}

body {
    font-family: messapia;
    background-color: #f3f3ec;
}

.start {
    /* animation: mymove 180s infinite;
  animation-delay: 2s; */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.start img {
    max-width: 200px;
}

button {
    background-color: transparent;
    border-color: transparent;
    font-family: messapia;
    font-size: 60pt;
    text-decoration: underline;
    cursor: pointer;
}


/* visited link, mouse over link, selected link, unvisited link */

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    cursor: pointer;
}


/*#linea {
    overflow: hidden;
    height: 200vh;
    position: absolute;
}*/

#manifesto {
    font-size: 60pt;
    margin-left: 100px;
    margin-right: 100px;
}

.divimg,
div>img {
    max-width: 200px;
    float: left;
    position: absolute;
}

.transdiagrams {
    max-width: 200px;
    float: left;
    position: absolute;
    margin-left: 75%;
    margin-top: 15%;
    background-color: #fffd8a;
    border-color: black;
    font-family: arial;
}

#lists {
    margin-left: 75%;
    margin-top: 15%;
}

#diagrams {
    margin-left: 25%;
    margin-top: 25%;
}

#drawings {
    margin-left: 60%;
    margin-top: 30%;
}

#lyrics {
    margin-left: 30%;
    margin-top: 35%;
}

#songs {
    margin-left: 30%;
    margin-top: 35%;
}

#sad {
    margin-left: 30%;
    margin-top: 75%;
}

#angry {
    margin-left: 15%;
    margin-top: 85%;
}

#hope {
    margin-left: 25%;
    margin-top: 90%;
}

#self {
    margin-left: 30%;
    margin-top: 155%;
}

.nothing {
    display: none;
}
